<a href="https://colab.research.google.com/github/mo72001/T5/blob/main/Regrosser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import fetch_openml

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv('Salary Data.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [12]:
df.shape

(375, 6)

In [13]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [14]:
df.dropna(subset=['Age'], inplace=True)

In [15]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [16]:
df.describe()

              Age  Years of Experience         Salary
count  373.000000           373.000000     373.000000
mean    37.431635            10.030831  100577.345845
std      7.069073             6.557007   48240.013482
min     23.000000             0.000000     350.000000
25%     31.000000             4.000000   55000.000000
50%     36.000000             9.000000   95000.000000
75%     44.000000            15.000000  140000.000000
max     53.000000            25.000000  250000.000000

In [20]:
col_transform = ColumnTransformer([
    ('num',StandardScaler(), ['Age', 'Years of Experience']),  # Added column names here
    ('cata',OneHotEncoder(), ['Gender', 'Education Level', 'Job Title'])  # Added column names here
])

In [21]:
col_transform.fit(df)

ColumnTransformer(transformers=[('num', StandardScaler(),
                                 ['Age', 'Years of Experience']),
                                ('cata', OneHotEncoder(),
                                 ['Gender', 'Education Level', 'Job Title'])])

In [23]:
col_transform.get_feature_names_out()

array(['num__Age', 'num__Years of Experience', 'cata__Gender_Female',
       'cata__Gender_Male', "cata__Education Level_Bachelor's",
       "cata__Education Level_Master's", 'cata__Education Level_PhD',
       'cata__Job Title_Account Manager', 'cata__Job Title_Accountant',
       'cata__Job Title_Administrative Assistant',
       'cata__Job Title_Business Analyst',
       'cata__Job Title_Business Development Manager',
       'cata__Job Title_Business Intelligence Analyst',
       'cata__Job Title_CEO', 'cata__Job Title_Chief Data Officer',
       'cata__Job Title_Chief Technology Officer',
       'cata__Job Title_Content Marketing Manager',
       'cata__Job Title_Copywriter', 'cata__Job Title_Creative Director',
       'cata__Job Title_Customer Service Manager',
       'cata__Job Title_Customer Service Rep',
       'cata__Job Title_Customer Service Representative',
       'cata__Job Title_Customer Success Manager',
       'cata__Job Title_Customer Success Rep',
       'cata__Job Title_Data Analyst', 'cata__Job Title_Data Entry Clerk',
       'cata__Job Title_Data Scientist',
       'cata__Job Title_Digital Content Producer',
       'cata__Job Title_Digital Marketing Manager',
       'cata__Job Title_Director',
       'cata__Job Title_Director of Business Development',
       'cata__Job Title_Director of Engineering',
       'cata__Job Title_Director of Finance',
       'cata__Job Title_Director of HR',
       'cata__Job Title_Director of Human Capital',
       'cata__Job Title_Director of Human Resources',
       'cata__Job Title_Director of Marketing',
       'cata__Job Title_Director of Operations',
       'cata__Job Title_Director of Product Management',
       'cata__Job Title_Director of Sales',
       'cata__Job Title_Director of Sales and Marketing',
       'cata__Job Title_Event Coordinator',
       'cata__Job Title_Financial Advisor',
       'cata__Job Title_Financial Analyst',
       'cata__Job Title_Financial Manager',
       'cata__Job Title_Graphic Designer',
       'cata__Job Title_HR Generalist', 'cata__Job Title_HR Manager',
       'cata__Job Title_Help Desk Analyst',
       'cata__Job Title_Human Resources Director',
       'cata__Job Title_IT Manager', 'cata__Job Title_IT Support',
       'cata__Job Title_IT Support Specialist',
       'cata__Job Title_Junior Account Manager',
       'cata__Job Title_Junior Accountant',
       'cata__Job Title_Junior Advertising Coordinator',
       'cata__Job Title_Junior Business Analyst',
       'cata__Job Title_Junior Business Development Associate',
       'cata__Job Title_Junior Business Operations Analyst',
       'cata__Job Title_Junior Copywriter',
       'cata__Job Title_Junior Customer Support Specialist',
       'cata__Job Title_Junior Data Analyst',
       'cata__Job Title_Junior Data Scientist',
       'cata__Job Title_Junior Designer',
       'cata__Job Title_Junior Developer',
       'cata__Job Title_Junior Financial Advisor',
       'cata__Job Title_Junior Financial Analyst',
       'cata__Job Title_Junior HR Coordinator',
       'cata__Job Title_Junior HR Generalist',
       'cata__Job Title_Junior Marketing Analyst',
       'cata__Job Title_Junior Marketing Coordinator',
       'cata__Job Title_Junior Marketing Manager',
       'cata__Job Title_Junior Marketing Specialist',
       'cata__Job Title_Junior Operations Analyst',
       'cata__Job Title_Junior Operations Coordinator',
       'cata__Job Title_Junior Operations Manager',
       'cata__Job Title_Junior Product Manager',
       'cata__Job Title_Junior Project Manager',
       'cata__Job Title_Junior Recruiter',
       'cata__Job Title_Junior Research Scientist',
       'cata__Job Title_Junior Sales Representative',
       'cata__Job Title_Junior Social Media Manager',
       'cata__Job Title_Junior Social Media Specialist',
       'cata__Job Title_Junior Software Developer',
       'cata__Job Title_Junior Software Engineer',
       'cata__Job Title_Junior UX Designer',
       'cata__Job Title_Junior Web Designer',
       'cata__Job Title_Junior Web Developer',
       'cata__Job Title_Marketing Analyst',
       'cata__Job Title_Marketing Coordinator',
       'cata__Job Title_Marketing Manager',
       'cata__Job Title_Marketing Specialist',
       'cata__Job Title_Network Engineer',
       'cata__Job Title_Office Manager',
       'cata__Job Title_Operations Analyst',
       'cata__Job Title_Operations Director',
       'cata__Job Title_Operations Manager',
       'cata__Job Title_Principal Engineer',
       'cata__Job Title_Principal Scientist',
       'cata__Job Title_Product Designer',
       'cata__Job Title_Product Manager',
       'cata__Job Title_Product Marketing Manager',
       'cata__Job Title_Project Engineer',
       'cata__Job Title_Project Manager',
       'cata__Job Title_Public Relations Manager',
       'cata__Job Title_Recruiter', 'cata__Job Title_Research Director',
       'cata__Job Title_Research Scientist',
       'cata__Job Title_Sales Associate',
       'cata__Job Title_Sales Director',
       'cata__Job Title_Sales Executive', 'cata__Job Title_Sales Manager',
       'cata__Job Title_Sales Operations Manager',
       'cata__Job Title_Sales Representative',
       'cata__Job Title_Senior Account Executive',
       'cata__Job Title_Senior Account Manager',
       'cata__Job Title_Senior Accountant',
       'cata__Job Title_Senior Business Analyst',
       'cata__Job Title_Senior Business Development Manager',
       'cata__Job Title_Senior Consultant',
       'cata__Job Title_Senior Data Analyst',
       'cata__Job Title_Senior Data Engineer',
       'cata__Job Title_Senior Data Scientist',
       'cata__Job Title_Senior Engineer',
       'cata__Job Title_Senior Financial Advisor',
       'cata__Job Title_Senior Financial Analyst',
       'cata__Job Title_Senior Financial Manager',
       'cata__Job Title_Senior Graphic Designer',
       'cata__Job Title_Senior HR Generalist',
       'cata__Job Title_Senior HR Manager',
       'cata__Job Title_Senior HR Specialist',
       'cata__Job Title_Senior Human Resources Coordinator',
       'cata__Job Title_Senior Human Resources Manager',
       'cata__Job Title_Senior Human Resources Specialist',
       'cata__Job Title_Senior IT Consultant',
       'cata__Job Title_Senior IT Project Manager',
       'cata__Job Title_Senior IT Support Specialist',
       'cata__Job Title_Senior Manager',
       'cata__Job Title_Senior Marketing Analyst',
       'cata__Job Title_Senior Marketing Coordinator',
       'cata__Job Title_Senior Marketing Director',
       'cata__Job Title_Senior Marketing Manager',
       'cata__Job Title_Senior Marketing Specialist',
       'cata__Job Title_Senior Operations Analyst',
       'cata__Job Title_Senior Operations Coordinator',
       'cata__Job Title_Senior Operations Manager',
       'cata__Job Title_Senior Product Designer',
       'cata__Job Title_Senior Product Development Manager',
       'cata__Job Title_Senior Product Manager',
       'cata__Job Title_Senior Product Marketing Manager',
       'cata__Job Title_Senior Project Coordinator',
       'cata__Job Title_Senior Project Manager',
       'cata__Job Title_Senior Quality Assurance Analyst',
       'cata__Job Title_Senior Research Scientist',
       'cata__Job Title_Senior Researcher',
       'cata__Job Title_Senior Sales Manager',
       'cata__Job Title_Senior Sales Representative',
       'cata__Job Title_Senior Scientist',
       'cata__Job Title_Senior Software Architect',
       'cata__Job Title_Senior Software Developer',
       'cata__Job Title_Senior Software Engineer',
       'cata__Job Title_Senior Training Specialist',
       'cata__Job Title_Senior UX Designer',
       'cata__Job Title_Social Media Manager',
       'cata__Job Title_Social Media Specialist',
       'cata__Job Title_Software Developer',
       'cata__Job Title_Software Engineer',
       'cata__Job Title_Software Manager',
       'cata__Job Title_Software Project Manager',
       'cata__Job Title_Strategy Consultant',
       'cata__Job Title_Supply Chain Analyst',
       'cata__Job Title_Supply Chain Manager',
       'cata__Job Title_Technical Recruiter',
       'cata__Job Title_Technical Support Specialist',
       'cata__Job Title_Technical Writer',
       'cata__Job Title_Training Specialist',
       'cata__Job Title_UX Designer', 'cata__Job Title_UX Researcher',
       'cata__Job Title_VP of Finance',
       'cata__Job Title_VP of Operations',
       'cata__Job Title_Web Developer'], dtype=object)

In [25]:
col_transform.transform(df).toarray()

array([[-0.76939807, -0.76827558,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-1.33600316, -1.07370248,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.07206849,  0.75885893,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.19435189, -1.22641593,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.48609552, -0.46284867,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.93041721,  0.75885893,  1.        , ...,  0.        ,
         0.        ,  0.        ]])

In [33]:
x  = pd.DataFrame(col_transform.transform(df).toarray(), columns=col_transform.get_feature_names_out())

In [35]:
y = df['Salary']

In [43]:
x.describe()

,num__Age,num__Years of Experience,cata__Gender_Female,cata__Gender_Male,cata__Education Level_Bachelor's,cata__Education Level_Master's,cata__Education Level_PhD,cata__Job Title_Account Manager,cata__Job Title_Accountant,cata__Job Title_Administrative Assistant,...,cata__Job Title_Supply Chain Manager,cata__Job Title_Technical Recruiter,cata__Job Title_Technical Support Specialist,cata__Job Title_Technical Writer,cata__Job Title_Training Specialist,cata__Job Title_UX Designer,cata__Job Title_UX Researcher,cata__Job Title_VP of Finance,cata__Job Title_VP of Operations,cata__Job Title_Web Developer
count,3.730000e+02,3.730000e+02,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,...,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000
mean,-3.286022e-16,2.023999e-17,0.479893,0.520107,0.600536,0.262735,0.136729,0.002681,0.002681,0.005362,...,0.002681,0.002681,0.002681,0.002681,0.002681,0.002681,0.002681,0.002681,0.002681,0.002681
std,1.001343e+00,1.001343e+00,0.500267,0.500267,0.490446,0.440711,0.344023,0.051778,0.051778,0.073127,...,0.051778,0.051778,0.051778,0.051778,0.051778,0.051778,0.051778,0.051778,0.051778,0.051778
min,-2.044260e+00,-1.531843e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-9.110493e-01,-9.209890e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-2.027930e-01,-1.574218e-01,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.304172e-01,7.588589e-01,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.205279e+00,2.285993e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [36]:
y.describe()

count       373.000000
mean     100577.345845
std       48240.013482
min         350.000000
25%       55000.000000
50%       95000.000000
75%      140000.000000
max      250000.000000
Name: Salary, dtype: float64

In [37]:
y.head()

0     90000.0
1     65000.0
2    150000.0
3     60000.0
4    200000.0
Name: Salary, dtype: float64

In [39]:
x.shape

(373, 181)

In [38]:
x.head()

,num__Age,num__Years of Experience,cata__Gender_Female,cata__Gender_Male,cata__Education Level_Bachelor's,cata__Education Level_Master's,cata__Education Level_PhD,cata__Job Title_Account Manager,cata__Job Title_Accountant,cata__Job Title_Administrative Assistant,...,cata__Job Title_Supply Chain Manager,cata__Job Title_Technical Recruiter,cata__Job Title_Technical Support Specialist,cata__Job Title_Technical Writer,cata__Job Title_Training Specialist,cata__Job Title_UX Designer,cata__Job Title_UX Researcher,cata__Job Title_VP of Finance,cata__Job Title_VP of Operations,cata__Job Title_Web Developer
0,-0.769398,-0.768276,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.336003,-1.073702,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.072068,0.758859,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.202793,-0.462849,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.063627,1.522426,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [41]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(261, 181)
(112, 181)
(261,)
(112,)

In [52]:
lr=LinearRegression()
model=lr.fit(x_train,y_train)
model.score(x_train,y_train)

0.9858825097935351

In [53]:
model.score(x_test,y_test)

-8.513231395753719e+18

In [48]:
pipe = make_pipeline(
    StandardScaler(),
    LogisticRegression())
pipe.fit(x_train, y_train)
accuracy_score(pipe.predict(x_test), y_test)

0.21428571428571427

In [49]:
rf=RandomForestRegressor()
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8671089439884048

In [51]:
y_pred = model.predict(x_test)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 10548.214285714286